* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "boronto", Arial, Helvetica, sans-serif;
}
body {
  background: #191818;
}
/* scrollbar style */
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: none;
}
::-webkit-scrollbar-thumb{
  background: transparent;
  border-radius: 5px;
}
.sidebar:hover::-webkit-scrollbar-thumb{
  background: #717171;
}
::-webkit-scrollbar-thumb:hover{
  background: #888;
}
/*navbar component*/
.nav {
  background-color: #000;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-brand {
  color: #fff;
  font-size: 35px;
  text-decoration: none;
  margin-left: 2em;
  cursor: pointer;
}
.losi a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}
.losi ul {
  list-style-type: none;
  margin-left: 70vw;
}
.losi ul li {
  float: right;
  margin-left: 4vw;
  transition: 1s;
}
.losi ul li:hover {
  text-decoration: underline aliceblue;
}
/*home component*/
.title {
  color: #fff;
  text-align: center;
  margin-top: 40vh;
  font-size: 3.5em;
}
.sub-header {
  color: aliceblue;
  text-align: center;
  font-size: 1.5em;
}
.btn {
  background: #0a0a0a;
  text-align: center;
  margin: 2em 45%;
  width: 10em;
  height: 2.5em;
  border-radius: 10em;
  border: 2px solid black;
  font-size: 1.2em;
  color: white;
  transition: 0.3s;
}
.btn:hover {
  border: 2px solid white;
}
/*signup component*/
.container {
  width: 600px;
  margin-left: 30vw;
  margin-top: 3em;
  border-radius: 30px;
  border: 2px solid black;
  background: white;
}
.container-od{
  width: 600px;
  margin-left: 30vw;
  margin-top: 13em;
  border-radius: 30px;
  border: 2px solid black;
  background: white;
  
}
.title-sign {
  color: #000;
  text-align: center;
  margin: 1em;
}
.container input,.container-od input {
  color: #0a0a0a;
  font-size: 1em;
  text-align: center;
  align-self: center;
  margin-left: 3.2em;
  height: 50px;
  display: flex;
  width: 500px;
}
.socio-media ul {
  margin-top: 1em;
  list-style: none;
  display: flex;
  margin-left: 7.8em;
  font-size: 1.2em;
}
.socio-media ul li {
  margin-left: 0.5em;
}

.p2 {
  font-size: 1.2em;
  margin-left: 9.3em;
  margin-top: 1em;
  color: #000;
}
.p1 {
  text-align: center;
  font-size: 1.2em;
  margin-top: 1em;
}
.container .btnn,.container-od .btnn {
  background: #0a0a0a;
  text-align: center;
  margin: 2em 38%;
  width: 10em;
  height: 2.5em;
  border-radius: 10em;
  border: 2px solid black;
  font-size: 1.2em;
  color: white;
  transition: 0.3s;
}
.container a {
  text-decoration: none;
}
.btnn:hover {
  border: 2px solid aliceblue;
}
/*room component*/
.container-room{
  box-shadow: #0a0a0a;
  border: 2px solid whitesmoke;
  width: auto;
  height: fit-content;
  margin: 2em;
  box-shadow:black;
}
.logo-img{
  width: 600px;
  height: 400px;
  border-radius: 20px;
  margin: 2em;
  object-fit: fill;
}
.desc{
  float: right;
  margin-top: 2em;
}
.desc h1,h2,h3,h4,p{
  margin-top: 1em;
 color: #fff;
}
.butoon{
  margin-left: 20vw;
}
.butoon button{
  width: 12em;
  height: 3em;
  color: whitesmoke;
  background: black;
  border: 2px solid black;
  font-size: 1em;
  margin: 6em 2em;
  transition: 1s;
}
.desc button:hover{
  background: #fff;
  color: #000;
}
.search-bar{
  text-align: center;
  height: 12vh;
  background-color: white;
  margin:2em 20em;
  width:auto;
  
}
.search-bar input{
  width:400px;
  height: 50px;
  color: #0a0a0a;
  border:2px solid black;
  align-self: center; 
  font-size: 1.2em;
}